@page "/addcountry"
@rendermode InteractiveServer

@using HospitalManagementSystem.Data
@using HospitalManagementSystem.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> userManager
@inject NavigationManager navigation
@inject ISnackbar Snackbar

@attribute [Authorize]

<div class="mx-2">
    <MudPaper Elevation="15" Class="p-4">

        <EditForm Model="@country"
                  OnValidSubmit="@CreateNewCountry"
                  FormName="addcountry">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <h3>Add New Country</h3>

            <div class="row">

                <div class="form-group col-md-6">
                    <label>Code</label>
                    <InputText class="form-control"
                               @bind-Value="country.Code"
                               placeholder="Enter country code" />
                </div>

                <div class="form-group col-md-6">
                    <label>Name</label>
                    <InputText class="form-control"
                               @bind-Value="country.Name"
                               placeholder="Enter country name" />
                </div>

            </div>

            <div class="mt-4">
                <MudStack Row Justify="Justify.SpaceBetween">

                    <MudButton Href="/countries"
                               Variant="Variant.Filled"
                               Color="Color.Warning"
                               StartIcon="@Icons.Material.Filled.ArrowBack">
                        Back
                    </MudButton>

                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.Save">
                        Save
                    </MudButton>

                </MudStack>
            </div>

        </EditForm>

    </MudPaper>
</div>

@code {
    private Country country = new();
    private string? UserId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            var currentUser = await userManager.GetUserAsync(user);
            UserId = currentUser?.Id;
        }
    }

    protected async Task CreateNewCountry()
    {
        country.CreatedOn = DateTime.UtcNow;
        country.CreatedById = UserId;
        country.ModifiedOn = DateTime.UtcNow;
        country.ModifiedById = UserId;

        await countryService.AddCountryAsync(country);

        navigation.NavigateTo("/countries?created=true");
    }
    }