@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await HttpContextAccessor.HttpContext!.SignOutAsync();
        Navigation.NavigateTo("/login");
    }
}